.total {
  position: relative;
}

.input {
  display: block;
  height: 25px;
  width: 65%;
  margin: 10px;
}

.select {
  width: 100%;
  display: flex;
}

.option {
  display: block;
  /* padding: 13px;  */
  margin: 10px 0 10px 5px;
}

.option_list {
  width: 70px;
}

.upload {
  display: block;
  margin: -12px 5px -5px 5px;
  height: 80px;
  width: 80px;
  background-image: url(/static/favicon/upload-image.svg);
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: -1vh;
  right: 5vw;
}

.btn {
  text-align: center;
  padding: 5px;
  margin: 0 0 10px 0;
  width: 40%;
  border-radius: 5px;
  background-color: #fff;
  /* margin: 10px; */

}