@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body * {
  font-family: 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
  /* box-sizing: border-box; */
}

body {
  margin: 0;
}
.reset-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.container {
  background-color: #eeeeee;
  position: relative;
}
h1,
h2,
h3 {
  margin: 0;
  font-size: 1rem;
}
a {
  text-decoration: none;
}
.header {
  height: 10vh;
  display: flex;
  align-items: center;
}
.home {
  display: inline-block;
}
.logo {
  height: 10vh;
  margin: -5px 5px 5px 5px;
}
.nav {
  position: fixed;
  bottom: 0;
  height: 10vh;
  background-color: #eeeeee;
  display: block;
  width: 100%;
  z-index: 1000;
}
.nav-list {
  display: flex;
}
.nav-item {
  width: 25%;
  height: 10vh;
  text-align: center;
}
.welcome-msg {
  display: inline-block;
}
.auth-list,
.auth-item {
  display: inline-block;
}
