{% extends "base.html" %}

{% block content %}
  <form action="{% url 'crud:add' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
  <p>이름 : <input type="text" name="catname" placeholder="길냥이 이름"></p>
  <p>개냥이 지수 : <input type="text" name="friendly" placeholder="사람과의 친밀도 (%)"></p>
  <input type="file" name="img">
  <div>성별 : <select name="gender">
    <option value=""></option>
  </select></div>
  <div>색상 : <select name="color">
    <option value=""></option>
  </select></div>
  <div>중성화 여부 : <select name="neutering">
    <option value=""></option>
  </select></div>
  <p>발견 위치 : <input type="text" name="location" placeholder="활동 위치"></p>
  <br>
  <button type="submit">작성하기</button>
</form>
{% endblock content %}