{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/cat_detail.css' %}" />
{% endblock head %} {% block content %}
<section class="cat-detail-section">
  <h2>
    <img class="cat-profile-img src="{{cat.image.first.url}}" alt="catimage" />
    <p>{{cat.catname}}</p>
  </h2>
  <form class="favorite-form" action="{% url 'social:catrelationship' cat.pk %}" method="POST">
    {% csrf_token %} {% if cat in user.relationship.favorite_cat.all %}
    <i class="fa-solid fa-bookmark"></i>
    <button type="submit">즐겨찾기 취소</button>
    {% else %}
    <i class="fa-regular fa-bookmark"></i>
    <button type="submit">즐겨찾기</button>
    {% endif %}
  </form>
  <ul class="reset-list cat-info-list">
    <li>성별: <span>{{ cat.gender }}</span></li>
    <li>색깔: <span>{{ cat.color }}</span></li>
    <li>중성화: <span>{{ cat.neutering }}</span></li>
    <li>개냥지수: <span>{{ cat.friendly }}</span></li>
    <li>
      발견한 유저: <a href="{% url 'social:detail' cat.upload_user.pk %}">{{cat.upload_user}}</a>
    </li>
    <li>
      위치
      <div></div>
    </li>
  </ul>
  {% if cat.upload_user == request.user %}
  <a class="edit-link" href="{% url 'crud:cat_edit' cat.pk %}">잘못된 정보 업데이트하기</a>
  {% endif %}
  <hr />
  <h3>사진첩</h3>
  <ul class="reset-list cat-photo-list">
    {% for image_list in image_lists %}
    <li class="cat-photo-item">
      <img src="{{image_list.url}}" alt="catimage" />
    </li>
    {% endfor %}
  </ul>
  <hr />
  <section class="comment-section">
    <h3>댓글</h3>
    <ul class="reset-list comment-list">
      {% for comment in comments %}
      <li class="comment-item">
        <a href="{% url 'social:detail' comment.user.pk %}">{{comment.user}}</a>:
        {{comment.content}}
      </li>
      {% endfor %}
    </ul>
    <form class="comment-form" action="{% url 'crud:comment' cat.pk%}" method="POST">
      {% csrf_token %}
      <input type="text" name="content" />
      <button type="submit">댓글달기</button>
    </form>
  </section>
</section>
{% endblock content %}
