{% extends "base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />

{% if user.profile.profile_img_url == None %}
<div class="box">
    <img class=img src="{% static 'none_photo.png' %}">
</div>
{% else %}
<div class="box">
    <img class=img src="{{user.profile.profile_img_url}}">
</div>
{% endif %}
<h3>{{user.profile.name}}</h3>
<p>{{user.profile.introduction}}</p>
{% if request.user == user %}
<div class="edit">
    <a href="{% url 'social:edit' user.pk %}"><i class="fas fa-edit"></i></a>
</div>
{% endif %}
<div class="follow">
    <div>
        {%if user.relationship.followers.all.count == ''%}
        <a href="{% url 'social:follower' user.pk %}"><span>팔로워 <br>0</span></a>
        {% else %}
        <a href="{% url 'social:follower' user.pk %}"><span>팔로워 <br>{{user.relationship.followers.all.count}}</span></a>
        {% endif %}
    </div>
    <div>
        <a href="{% url 'social:follow' user.pk %}"><span>팔로우 <br>{{user.following.all.count}}</span></a>
    </div>    
</div>
{% if request.user != user %}
<form action="{% url 'social:relationship' user.pk %}" method='POST'>
    {% csrf_token %}
    {% if request.user in user.relationship.followers.all %}
    <button class='follow_btn' type='submit'>팔로우 취소</button>
    {% else %}
    <button class='follow_btn' type='submit'>팔로우</button>
    {% endif %}
</form>
{% endif %}
<div class='cat_title'>등록한 고양이</div>
<br>
<div class='cat_list'>
    {% for cat in user.upload.all %}
    <a class='cat_list' href="{% url 'crud:cat_detail' cat.pk %}">{{cat.catname}}</a>
    {% endfor %}
</div>

{% endblock content %}