{% extends "base.html" %}
{% block content %}
<img src="{{user.profile.profile_img_url}}">
<h3>{{user.profile.name}}</h3>
<p>{{user.profile.introduction}}</p>
{% if request.user == user %}
<a href="{% url 'social:edit' user.pk %}">수정하기</a>
{% endif %}
<div>팔로워 {{user.relationship.followers.all.count}}</div>
<div>팔로우 {{user.following.all.count}}</div>
{% if request.user != user %}
<form action="{% url 'social:relationship' user.pk %}" method='POST'>
    {% csrf_token %}
    {% if request.user in user.relationship.followers.all %}
    <button type='submit'>팔로우 취소</button>
    {% else %}
    <button type='submit'>팔로우</button>
    {% endif %}
</form>
{% endif %}
{% for cat in user.upload.all %}
{{cat.catname}}
{% endfor %}

{% endblock content %}