{% extends "base.html" %}

{% block content %}
<form action="{% url 'social:edit' user.profile.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image" />
    <br><br>
    <input type='text' placeholder="이름" value={{user.profile.name}} name="name"/>
    <br/><br/>
    <textarea placeholder="자기소개" name="introduction">{{user.profile.introduction}}</textarea>
    <br/><br/>
    <input type="email" placeholder="이메일" value={{user.profile.email}} name="email">
    <br><br>
    <button type="submit">등록</button>
</form>
{% endblock content %}