<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>길냥이지도</title>
    <link rel="stylesheet" href="/static/css/base.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/static/css/index.css" />

    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2afb1fc4dd038efa23fc18c55f594205&libraries=services,clusterer,drawing"
    ></script>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1 class="home"><img class="logo" src="/static/logo.svg" alt="홈으로" /></h1>

        <h1 class="welcome-msg">이한결님 안녕하세요</h1>
        <ul class="reset-list auth-list">
          <li class="auth-item">
            <a href="/social/logout/">로그아웃</a>
          </li>
          <li class="auth-item">
            <a onclick="return confirm('정말 탈퇴하시겠습니까 ?')" href="/social/delete/3"
              >탈퇴하기</a
            >
          </li>
        </ul>
        <nav class="nav">
          <ul class="reset-list nav-list">
            <li class="nav-item">
              <i class="icon fas fa-paw"></i>
              <a class="nav-link" href="/crud/add/">Add</a>
            </li>
            <li class="nav-item">
              <i class="icon far fa-star"></i>
              <a class="nav-link" href="/social/favorite/3">Favorite</a>
            </li>
            <li class="nav-item">
              <i class="icon far fa-user"></i>
              <a class="nav-link" href="/social/detail/3">My Page</a>
            </li>
            <li class="nav-item">
              <i class="icon fas fa-search"></i>
              <a class="nav-link" href="/crud/search/">Search</a>
            </li>
          </ul>
        </nav>
      </header>

      <div id="map" style="width: 100%; height: 90vh"></div>
      <script type="text/javascript">
        const $mapContainer = document.getElementById('map'); //지도 div element 취득
        const markerImageSrc = 'https://img.icons8.com/ios-glyphs/60/000000/cat.png',
          markerImageSize = new kakao.maps.Size(40, 40),
          markerImagePosition = { offset: new kakao.maps.Point(27, 40) };
        const positions = [
          {
            title: '성수동고양이',
            content: `<div class="cat-info-window">
          <img src="https://django-cat-project.s3.ap-northeast-2.amazonaws.com/2021033107techtalk00.png" alt="catimage" class="cat-profile-img"/>
          <h2><a href="/crud/cat_detail/1">성수동고양이</a></h2>
          <ul class="reset-list cat-info-list">
          <li>성별: male</li>
          <li>색깔: yellow</li>
          <li>개냥지수: 100</li>
          </ul></div>`,
            latlng: new kakao.maps.LatLng(37.54490018658278, 127.05685028171477),
            pk: 1,
          },

          {
            title: '호랑이',
            content: `<div class="cat-info-window">
          <img src="https://django-cat-project.s3.ap-northeast-2.amazonaws.com/2021140009hackerrank.jpg" alt="catimage" class="cat-profile-img"/>
          <h2><a href="/crud/cat_detail/2">호랑이</a></h2>
          <ul class="reset-list cat-info-list">
          <li>성별: male</li>
          <li>색깔: yellow</li>
          <li>개냥지수: 100</li>
          </ul></div>`,
            latlng: new kakao.maps.LatLng(37.53748238754262, 127.05268087005908),
            pk: 2,
          },

          {
            title: '제발되어라',
            content: `<div class="cat-info-window">
          <img src="https://django-cat-project.s3.ap-northeast-2.amazonaws.com/2021005057djangoproject01.jpg" alt="catimage" class="cat-profile-img"/>
          <h2><a href="/crud/cat_detail/3">제발되어라</a></h2>
          <ul class="reset-list cat-info-list">
          <li>성별: male</li>
          <li>색깔: yellow</li>
          <li>개냥지수: 20</li>
          </ul></div>`,
            latlng: new kakao.maps.LatLng(37.53821569235584, 127.05489907298262),
            pk: 3,
          },

          {
            title: '테스트냥',
            content: `<div class="cat-info-window">
          <img src="https://django-cat-project.s3.ap-northeast-2.amazonaws.com/2021033937djangoproject.jpg" alt="catimage" class="cat-profile-img"/>
          <h2><a href="/crud/cat_detail/4">테스트냥</a></h2>
          <ul class="reset-list cat-info-list">
          <li>성별: dont_know</li>
          <li>색깔: yellow</li>
          <li>개냥지수: 40</li>
          </ul></div>`,
            latlng: new kakao.maps.LatLng(37.5450897, 127.0574776),
            pk: 4,
          },

          {
            title: '테스트냥',
            content: `<div class="cat-info-window">
          <img src="https://django-cat-project.s3.ap-northeast-2.amazonaws.com/2021034026techtalk02.png" alt="catimage" class="cat-profile-img"/>
          <h2><a href="/crud/cat_detail/5">테스트냥</a></h2>
          <ul class="reset-list cat-info-list">
          <li>성별: male</li>
          <li>색깔: yellow</li>
          <li>개냥지수: 100</li>
          </ul></div>`,
            latlng: new kakao.maps.LatLng(37.54327931469018, 127.05489147029179),
            pk: 5,
          },

          {
            title: '퓨마',
            content: `<div class="cat-info-window">
          <img src="https://django-cat-project.s3.ap-northeast-2.amazonaws.com/2021075903linkedlist.jpg" alt="catimage" class="cat-profile-img"/>
          <h2><a href="/crud/cat_detail/6">퓨마</a></h2>
          <ul class="reset-list cat-info-list">
          <li>성별: female</li>
          <li>색깔: yellow</li>
          <li>개냥지수: 80</li>
          </ul></div>`,
            latlng: new kakao.maps.LatLng(37.54485329142206, 127.0605618064085),
            pk: 6,
          },

          {
            title: 'test',
            content: `<div class="cat-info-window">
          <img src="https://django-cat-project.s3.ap-northeast-2.amazonaws.com/2021023431djangoproject04.jpg" alt="catimage" class="cat-profile-img"/>
          <h2><a href="/crud/cat_detail/7">test</a></h2>
          <ul class="reset-list cat-info-list">
          <li>성별: male</li>
          <li>색깔: yellow</li>
          <li>개냥지수: 39</li>
          </ul></div>`,
            latlng: new kakao.maps.LatLng(37.54495340591092, 127.0585703157974),
            pk: 7,
          },

          {
            title: 'adf',
            content: `<div class="cat-info-window">
          <img src="https://django-cat-project.s3.ap-northeast-2.amazonaws.com/2021032805techtalk01.png" alt="catimage" class="cat-profile-img"/>
          <h2><a href="/crud/cat_detail/8">adf</a></h2>
          <ul class="reset-list cat-info-list">
          <li>성별: female</li>
          <li>색깔: yellow</li>
          <li>개냥지수: 22</li>
          </ul></div>`,
            latlng: new kakao.maps.LatLng(37.545208019363606, 127.053659463705),
            pk: 8,
          },

          {
            title: '테스트01',
            content: `<div class="cat-info-window">
          <img src="https://django-cat-project.s3.ap-northeast-2.amazonaws.com/2021083939techtalk01.png" alt="catimage" class="cat-profile-img"/>
          <h2><a href="/crud/cat_detail/9">테스트01</a></h2>
          <ul class="reset-list cat-info-list">
          <li>성별: male</li>
          <li>색깔: yellow</li>
          <li>개냥지수: 100</li>
          </ul></div>`,
            latlng: new kakao.maps.LatLng(37.5451675, 127.05737699999999),
            pk: 9,
          },

          {
            title: '테스트0111',
            content: `<div class="cat-info-window">
          <img src="https://django-cat-project.s3.ap-northeast-2.amazonaws.com/2021084032techtalk00.png" alt="catimage" class="cat-profile-img"/>
          <h2><a href="/crud/cat_detail/10">테스트0111</a></h2>
          <ul class="reset-list cat-info-list">
          <li>성별: male</li>
          <li>색깔: yellow</li>
          <li>개냥지수: 100</li>
          </ul></div>`,
            latlng: new kakao.maps.LatLng(37.54544030222815, 127.05784648415951),
            pk: 10,
          },

          {
            title: '테스트01',
            content: `<div class="cat-info-window">
          <img src="https://django-cat-project.s3.ap-northeast-2.amazonaws.com/2021085038djangoproject.jpg" alt="catimage" class="cat-profile-img"/>
          <h2><a href="/crud/cat_detail/11">테스트01</a></h2>
          <ul class="reset-list cat-info-list">
          <li>성별: male</li>
          <li>색깔: yellow</li>
          <li>개냥지수: 100</li>
          </ul></div>`,
            latlng: new kakao.maps.LatLng(37.54476249325256, 127.06190830349152),
            pk: 11,
          },

          {
            title: '테스트냥',
            content: `<div class="cat-info-window">
              <h2><img src="https://django-cat-project.s3.ap-northeast-2.amazonaws.com/2021054317chick.png" alt="catimage" class="cat-profile-img"/>
          <a href="/crud/cat_detail/12">테스트냥</a></h2>
          <ul class="reset-list cat-info-list">
          <li>성별: male</li>
          <li>색깔: yellow</li>
          <li>개냥지수: 80</li>
          </ul></div>`,
            latlng: new kakao.maps.LatLng(37.544520763260174, 127.05889813210902),
            pk: 12,
          },
        ];
        if (navigator.geolocation) {
          console.log('lalalalal');
          // GeoLocation가 활성화되어있는 경우 접속 위치 취득 및 콜백함수 호출
          navigator.geolocation.getCurrentPosition(function (position) {
            const lat = position.coords.latitude, // 위도 취득
              lon = position.coords.longitude; // 경도 취득
            console.log(lat, lon);

            const mapOption = {
              center: new kakao.maps.LatLng(lat, lon), // 지도의 중심좌표
              level: 3, // 지도의 확대 레벨
            };

            const map = new kakao.maps.Map($mapContainer, mapOption); // 지도 생성 및 할당

            for (let i = 0; i < positions.length; i++) {
              const markerImage = new kakao.maps.MarkerImage(
                markerImageSrc,
                markerImageSize,
                markerImagePosition
              );
              const marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng, // 마커를 표시할 위치
                title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                image: markerImage, // 마커 이미지
              });
              const catInfowindow = new kakao.maps.InfoWindow({
                content: positions[i].content, // 인포윈도우에 표시할 내용
                removable: true,
              });
              const catDetail = new kakao.maps.CustomOverlay({
                map: map,
                position: positions[i].latlng,
                content: `<a href="/crud/cat_detail/${positions[i].pk}" class="cat-detail-link">${positions[i].title}</a>`,
                yAnchor: 0,
              });
              catDetail.setMap(map);
              kakao.maps.event.addListener(
                marker,
                'click',
                makeOverListener(map, marker, catInfowindow)
              );
            }
            function makeOverListener(map, marker, infowindow) {
              return function () {
                infowindow.open(map, marker);
              };
            }
          });
        }
      </script>
    </div>
  </body>
</html>
