{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />

<script
  type="text/javascript"
  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2afb1fc4dd038efa23fc18c55f594205&libraries=services,clusterer,drawing"
></script>

{% endblock head %} {% block content %}
<div id="map" style="width: 100%; height: 80vh"></div>
<script type="text/javascript">
  const $mapContainer = document.getElementById('map'); //지도 div element 취득
  const markerImageSrc = 'https://img.icons8.com/ios-glyphs/60/000000/cat.png',
    markerImageSize = new kakao.maps.Size(40, 40),
    markerImagePosition = { offset: new kakao.maps.Point(27, 40) };
  const positions = [
      {% for cat in cats %}
      {
        title: '{{ cat.catname }}',
        content: `<div class="cat-info-window">
          <h2><img src="{{cat.image.first.url}}" alt="catimage" class="cat-profile-img"/>
          <a href="{% url 'crud:cat_detail' cat.pk %}">{{ cat.catname }}</a></h2>
          <ul class="reset-list cat-info-list">
          <li>성별: {{ cat.gender }}</li>
          <li>색깔: {{ cat.color }}</li>
          <li>개냥지수: {{ cat.friendly }}</li>
          </ul></div>`,
        latlng: new kakao.maps.LatLng({{cat.location_lat}}, {{cat.location_lon}}),
        pk: {{ cat.pk }},
      },
      {% endfor %}
      ];
  if (navigator.geolocation) {
    console.log('lalalalal');
    // GeoLocation가 활성화되어있는 경우 접속 위치 취득 및 콜백함수 호출
    navigator.geolocation.getCurrentPosition(function (position) {
      const lat = position.coords.latitude, // 위도 취득
        lon = position.coords.longitude; // 경도 취득
      console.log(lat, lon);

      const mapOption = {
        center: new kakao.maps.LatLng(lat, lon), // 지도의 중심좌표
        level: 3, // 지도의 확대 레벨
        };

      const map = new kakao.maps.Map($mapContainer, mapOption); // 지도 생성 및 할당


      for (let i = 0; i < positions.length; i++) {
        const markerImage = new kakao.maps.MarkerImage(markerImageSrc, markerImageSize, markerImagePosition);
        const marker = new kakao.maps.Marker({
          map: map, // 마커를 표시할 지도
          position: positions[i].latlng, // 마커를 표시할 위치
          title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
          image: markerImage, // 마커 이미지
        });
        const catInfowindow = new kakao.maps.InfoWindow({
          content: positions[i].content, // 인포윈도우에 표시할 내용
          removable: true
        });
        const catDetail = new kakao.maps.CustomOverlay({
          map: map,
          position: positions[i].latlng,
          content: `<a href="/crud/cat_detail/${positions[i].pk}" class="cat-detail-link">${positions[i].title}</a>`,
          yAnchor: 0
        });
        catDetail.setMap(map)
        kakao.maps.event.addListener(marker, 'click', makeOverListener(map, marker, catInfowindow));
      }
      function makeOverListener(map, marker, infowindow) {
        return function() {
          infowindow.open(map, marker);
        };
      }
    });
  }
</script>
{% endblock content %}
