<nav class="nav">
  <ul class="reset-list nav-list">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'crud:add' %}"><i class="icon fas fa-paw"></i>Add</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'social:favorite' user.pk %}"
        ><i class="icon far fa-star"></i>Favorite</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'social:detail' user.pk %}"
        ><i class="icon far fa-user"></i>My Page</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'crud:search' %}"
        ><i class="icon fas fa-search"></i>Search</a
      >
    </li>
  </ul>
</nav>
